export(cv_gee)

importFrom("stats", "dbinom", "predict", ".getXlevels", "coef", "dnbinom", "formula",
             "model.frame", "model.matrix", "model.response", "runif",
             "terms", "update")

S3method(predict, geeglm)